:root {
  font-family: "Trade Winds", cursive;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}
.title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
}
